.modal {
position:fixed;
z-index: 999;
top:0;
left:0;
width: 100%;
min-height: 100vh;
background-color: rgba(0, 0, 0, 0.030);
display: none;
justify-content: center;
align-items: center;
}

.modal.is-open {
    display:flex;
}

.modal-container {
    position: relative;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)) ,url("../../../img/fondo\ naves.jpg");
    min-width: 600px;
    max-width: 100vh;
    min-height: auto;
    max-height: 100vh;
    overflow-y: auto;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.imgStarshipPopUp {
    height: 200px;
}

.divTextPrincipal {
    font-size: 12px;
}

.divText {
    display:flex;
    font-size: 11px;
    text-align: justify;
    justify-content: center;
}


.buttonCloseModal {
    background-color: black;
    border-bottom: solid grey;
    color: grey;
    cursor: pointer;
    padding: 5px;
    margin-left: 1rem;
}

.buttonCloseModal:hover {
    border-bottom: solid blue;
    color: white;
}