.modal {
position:fixed;
z-index: 999;
top:0;
left:0;
width: 100%;
min-height: 100vh;
background-color: rgba(0, 0, 0, 0.030);
display: none;
justify-content: center;
align-items: center;
}

.modal.is-open {
    display:flex;
}

.modal-container {
    position: relative;
    padding: 1rem;
    background-image: url("../img/fondo\ naves.jpg");
    min-width: 600px;
    max-width: 100vh;
    min-height: auto;
    max-height: 600px;
    overflow-y: auto;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.imgStarshipPopUp {
    height: 250px;
}

.divTextPrincipal {
    font-size: 12px;
}

.divText {
    display:flex;
    font-size: 12px;
    justify-content: center;
}

.textPopUp {
    margin-right: 2rem;
}